body {
    margin: 0;
    padding: 0;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Noto Sans,ui-sans-serif,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji,Arial;
    background-image: url(../image/body.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

.application {
    width: 1200px;
    margin: 0 auto 50px;
    /* 外边距，0控制上下边距，quto控制左右边 */
    overflow: visible;
    /* 隐藏盒子里多余的内容 */
}

a {
    color: #833500;
    text-decoration: none;
}

p,
span,
li,
input {
    font-size: 1.5em;
}

.title {
    width: 100%;
    padding: 20px 0 30px;
    margin-bottom: 60px;
}

.title h1 {
    margin: 0;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    color: #833500;
}

.title h2 {
    margin: 0;
    font-size: 56px;
    font-weight: 900;
    text-align: center;
    color: #833500;
}

.project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 600;
    color: #833500;
}

.application .project .bg {
    position: relative;
    width: 40%;
    padding: 300px 0 0;
    /* background-image: url(../image/background.jpg);
    background-size: cover;
    background-position: center; */
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.application .project .bg:hover {
    background-color: #ecececa4;
}

.application .project .bg .bear {
    width: 200px;
    height: 100px;
    padding: 0;
    margin: 0 150px;
    background: url(../image/bear.png) no-repeat;
    animation: bear 1s steps(8) infinite, move 3s ease forwards;
}

@keyframes bear {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -1600px 0;
    }
}

@keyframes move {
    0% {
        transform: translate(-800px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.application .project .bg .bear:hover {
    animation-duration: 0.5s;
}

.application .project .bg span {
    position: absolute;
    bottom: -30px;
    left: calc(50% - 106px);
}

.application .project .seq {
    position: relative;
    width: 40%;
    padding: 300px 0 0;
    background-image: url(../image/animals.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.application .project .seq:hover {
    background-color: #ecececa4;
}

.application .project .seq span {
    position: absolute;
    bottom: -30px;
    left: calc(50% - 102px);
}

.body-foot {
  background-color: transparent;
  padding: 40px 60px 20px 60px;
}

.body-foot .name {
  position: relative;
  margin: 0 0 10px;
  width: 100%;
  height: 30px;
}

.body-foot .name a {
  position: absolute;
  top: 0;
  left: calc(50% - 434px);
  width: 868px;
  height: 30px;
  border: 0;
  color: #833500;
  background-color: transparent;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
}

.body-foot .name a:hover {
  color: #02b44c;
}

.body-foot .foot-container {
  position: relative;
  border-bottom: 1px solid #5c657f;
}

.catagories .column {
  margin: 0 auto 15px;
  width: 305px;
}

.catagories .column>a {
  color: #833500;
  background-color: transparent;
  font-size: 20px;
  line-height: 50px;
  font-weight: 700;
  text-decoration: none;
}

.catagories .column a:hover {
  color: #4a4ade;
}

.body-foot .foot-bottom {
  display: block;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  color: #5c657f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 576px) {
    .application {
        width: 100%;
    }

    .application .bg .bear {
        margin: 0 25%;
    }

    .application .bg {
        padding: 200px 0 0;
        border-radius: 10px;
    }

    .osc-controls {
        width: calc(100% - 4px);
        height: 250px;
    }

    .drum-set {
        height: 510px;
    }
    
    .drum-set .drum {
        height: 120px;
        line-height: 120px;
    }
}