body {
    margin: 0;
    padding: 0;
    background-color: rgba(65, 91, 146, 0.658);
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Noto Sans,ui-sans-serif,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji,Arial;
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

.application {
    width: 1000px;
    margin: 0 auto;
    /* 外边距，0控制上下边距，quto控制左右边 */
    overflow: hidden;
    /* 隐藏盒子里多余的内容 */
}

p,
span,
li,
input {
    font-size: 1.5em;
}

.title {
    width: 100%;
    padding: 20px 0 30px;
}

.title h1 {
    margin: 0;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;

}

.application .bg {
    padding: 300px 0 0;
    background-image: url(../image/background.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.application .bg .bear {
    width: 200px;
    height: 100px;
    padding: 0;
    margin: 0 400px;
    background: url(../image/bear.png) no-repeat;
    animation: bear 1s steps(8) infinite, move 3s ease forwards;
}

@keyframes bear {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -1600px 0;
    }
}

@keyframes move {
    0% {
        transform: translate(-800px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.application .bg .bear:hover {
    animation-duration: 0.5s;
}

.osc-controls {
    float: left;
    width: calc(50% - 4px);
    height: 240px;
    margin: 0;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
    border-radius: 10px;
}

.osc-controls form {
    margin-top: 20px;
    padding: 0 39px;
}

#on-off {
    --glow-color: rgb(176, 177, 255);
    --glow-spread-color: rgba(123, 127, 255, 0.781);
    --enhanced-glow-color: rgb(206, 212, 255);
    --btn-color: rgb(58, 71, 248);
    box-shadow: 0 0 .01em .01em var(--glow-color),
           0 0 0.1em .05em var(--glow-spread-color),
           inset 0 0 .05em .05em var(--glow-color);
    text-shadow: 0 0 .05em var(--glow-color);

    cursor: pointer;
    position: relative;
    width: 90px;
    padding: 8px 6px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--glow-color);
    background: var(--btn-color);
    border: 0.05em solid var(--glow-color);
    border-radius: 0.5em;
    transition: all .3s;
    outline: none;
}

#on-off:hover {
    z-index: 1;
    border-color: transparent;
    color: var(--btn-color);
    background: linear-gradient(
        90deg,
        #f9d923,
        #a5c8dd,
        #708fd3,
        #cb49ff,
        #f9d923
    );
    background-size: 400%;
    animation: glow 12s linear forwards;
    box-shadow: 0 0 .05em .05em var(--glow-color),
           0 0 0.5em .5em var(--glow-spread-color),
           inset 0 0 .01em .01em var(--glow-color);
}

@keyframes glow {

    from {
        background-position: 0%;
    }

    to {
        background-position: 400%;
    }

}

#on-off::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: inherit;
    filter: blur(36px);
    opacity: 0;
    transition: .4s ease-out;
}

#on-off:hover::before {
    opacity: 1; 
    z-index: -1;
}

.osc-controls form span {
    font-size: 24px;
    font-weight: 600;
}

.osc-controls form div {
    margin-top: 20px;
    font-size: 20px;
}

.osc-controls form p {
    margin: 10px 0 30px 0;
    font-size: 20px;
}

.osc-controls form input {
    width: 15%;
    margin-right: 30px;
    font-size: 20px;
    color: #ffffff;
    background-color: rgb(88, 88, 88);
    border-style: solid;
    border-color: #ffffff;
    border-width: 0;
}

.osc-controls h2 {
    margin: 20px 0;
    padding: 0;
    text-align: center;
}

#sine {
    background-color: #a5c8dd;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#sine:hover {
    background-color:#e2dea2;
}

#sawtooth {
    background-color: #708fd3;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#sawtooth:hover {
    background-color: #e2dea2;
}

#triangle {
    background-color: #556dbb;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#triangle:hover {
    background-color: #e2dea2;
}

#square {
    background-color: #445d85;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#square:hover {
    background-color: #e2dea2;
}

#oscillator-list {
    margin: 20px 0;
    padding: 0 80px;
}

#oscillator-list li {
    padding: 2px 0;
    list-style: none;
    text-align: center;
    color: white;
}

.selected-waveform {
    outline: 2px solid black;
}

.foot {
    float: left;
    width: 100%;
    margin: 20px 0;
    text-align: center;
    color: #ffffff;
}

.foot p {
    margin: 10px 0;
    padding: 0 30px;
}

.foot p a {
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    transition: all 0.5s ease;
}

.foot p a:hover {
    color: #ffff37;
}

/*鼓组flex布局*/

.drum-kit {
    text-align: center;
    margin-bottom: 0;
}

.drum-set {
    height: 200px;
    padding: 0;
    margin: 40px 0 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.drum-set .drum {
    height: 200px;
    width: 200px;
    margin: 0 25px 0;
    cursor: pointer;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    line-height: 200px;
    transition: all 0.5s ease;
}

.drum-set .drum:hover {
    color: #ffff37;
}

#hihat {
    background-image: url(../image/HH.png);
    background-size: cover;
    background-position: center;
}

#kick {
    background-image: url(../image/Kick.png);
    background-size: cover;
    background-position: center;
}

#shaker {
    background-image: url(../image/Tom.png);
    background-size: cover;
    background-position: center;
}

#snare {
    background-image: url(../image/Snare.png);
    background-size: cover;
    background-position: center;
}

/*适配移动端*/

@media screen and (max-width: 576px) {
    .application {
        width: 100%;
    }

    .application .bg .bear {
        margin: 0 25%;
    }

    .application .bg {
        padding: 200px 0 0;
        border-radius: 10px;
    }

    .osc-controls {
        width: calc(100% - 4px);
        height: 250px;
    }

    .drum-set {
        height: 510px;
    }
    
    .drum-set .drum {
        height: 120px;
        line-height: 120px;
    }
}