body {
    margin: 0;
    padding: 0;
    background-color: rgba(65, 91, 146, 0.658);
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Noto Sans,ui-sans-serif,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji,Arial;
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

.application {
    width: 1000px;
    margin: 0 auto;
    /* 外边距，0控制上下边距，quto控制左右边 */
    overflow: hidden;
    /* 隐藏盒子里多余的内容 */
}

p,
span,
li,
input {
    font-size: 1.5em;
}

.title {
    width: 100%;
    padding: 20px 0 30px;
}

.title h1 {
    margin: 0;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;

}

.application .bg {
    padding: 300px 0 0;
    background-image: url(../image/background.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.application .bg .bear {
    width: 200px;
    height: 100px;
    padding: 0;
    margin: 0 400px;
    background: url(../image/bear.png) no-repeat;
    animation: bear 1s steps(8) infinite, move 3s ease forwards;
}

@keyframes bear {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -1600px 0;
    }
}

@keyframes move {
    0% {
        transform: translate(-800px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.application .bg .bear:hover {
    animation-duration: 0.5s;
}

#on-off {
    --glow-color: rgb(176, 177, 255);
    --glow-spread-color: rgba(123, 127, 255, 0.781);
    --enhanced-glow-color: rgb(206, 212, 255);
    --btn-color: rgb(58, 71, 248);
    box-shadow: 0 0 .01em .01em var(--glow-color),
           0 0 0.1em .05em var(--glow-spread-color),
           inset 0 0 .05em .05em var(--glow-color);
    text-shadow: 0 0 .05em var(--glow-color);

    cursor: pointer;
    position: relative;
    width: 90px;
    padding: 8px 6px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--glow-color);
    background: var(--btn-color);
    border: 0.05em solid var(--glow-color);
    border-radius: 0.5em;
    transition: all .3s;
    outline: none;
}

#on-off:hover {
    z-index: 1;
    border-color: transparent;
    color: var(--btn-color);
    background: linear-gradient(
        90deg,
        #f9d923,
        #a5c8dd,
        #708fd3,
        #cb49ff,
        #f9d923
    );
    background-size: 400%;
    animation: glow 12s linear forwards;
    box-shadow: 0 0 .05em .05em var(--glow-color),
           0 0 0.5em .5em var(--glow-spread-color),
           inset 0 0 .01em .01em var(--glow-color);
}

@keyframes glow {

    from {
        background-position: 0%;
    }

    to {
        background-position: 400%;
    }

}

#on-off::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: inherit;
    filter: blur(36px);
    opacity: 0;
    transition: .4s ease-out;
}

#on-off:hover::before {
    opacity: 1; 
    z-index: -1;
}

.foot {
    float: left;
    width: 100%;
    margin: 20px 0;
    text-align: center;
    color: #ffffff;
}

.foot p {
    margin: 10px 0;
    padding: 0 30px;
}

.foot p a {
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    transition: all 0.5s ease;
}

.foot p a:hover {
    color: #37FF8B;
}

.drum-kit {
    text-align: center;
    margin-bottom: 0;
}

@media screen and (max-width: 576px) {
    .application {
        width: 100%;
    }

    .application .bg .bear {
        margin: 0 25%;
    }

    .application .bg {
        padding: 200px 0 0;
        border-radius: 10px;
    }

    .osc-controls {
        width: calc(100% - 4px);
        height: 250px;
    }

    .drum-set {
        height: 510px;
    }
    
    .drum-set .drum {
        height: 120px;
        line-height: 120px;
    }
}

.transport {
    width:75px;
    height:75px;
    margin:0 auto 40px;
}

.transport-icon {
    margin:0 auto;
    background-color: transparent;
    height:100%;
    width:100%;
    cursor: pointer;
}

.parametric-eq-box {
    position:relative;
    top:50px;
    margin: 0 auto;
    width:500px;
    border: 0px solid gray;
}

.selectfile {
    margin: 20px 0;
}

.parametric-eq {
    margin:0 auto;
    width:500px;
    height:265px;
}

.parametric-eq p {
    font-size: 1.25em;
    margin: 0 auto 20px;
    text-align: center;
}

.eq-item {
    display: inline-block;
    padding: 1.88em;
    border: 2px solid rgba(196, 28, 90, 0.16);
    border-radius:5px;
    height:150px;
}

p{
    color:rgba(60, 75, 111, 0.94);
}

.description{
     margin-left:20px;
}


#freqDial{
    width:10px;
    height: 10px;
}

        
.freq-box{
    background-color:rgba(9, 251, 184, 0.18);
}


.bandwidth-box{
    background-color:rgba(169, 255, 0, 0.15);
}

.gain-box{
    background-color:rgba(251, 255, 0, 0.26);
}