body {
    margin: 50px 0 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.658);
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Noto Sans,ui-sans-serif,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji,Arial;
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

h1,
h3 {
    text-align: center;
}